@use "../styles/colors" as colors;

.layout {
  background: colors.$black;
	color: colors.$white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 68px;
    margin-top: 37px;
  }
}
