.DivForMainText{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
	background: rgba(147, 143, 240, 1);
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left: 13px;
}

.divForText{
	margin-left: 26px;
	margin-top: 20px;
}

.DivText{
	margin-top: 28px;
}

.text{
	margin-top: 19px;
}

.divForLink{
	margin-left: 26px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.link{
	color: rgba(147, 143, 240, 1);
	text-decoration: none;
}
