.mainTextOfTest{
	width: 329px;
	height: 52px;
	margin-left: 20px;
	size: 24px;
}

.divForCountOfQuestion{
	width: 26px;
	height: 14px;
	margin-top: 40px;
	margin-left: 343px;
}

.hr{
	width: 342px;
	height: 1px;
	color: rgba(147, 143, 240, 1);
	margin-left: 20px;
	margin-top: 5px;
}
