.mainDiv{
	z-index: 100 !important;
}

.mainText{
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 10px;
}

.text{
	margin-top: 25px;
}

.startButton{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
	max-width: 362px;
}
