.imgBack {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  background-image: url(../../../assets/load.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  margin-left: 35%;
	margin-top: 80%;
}
