.message,
.thanks {
  justify-self: center;
  text-align: center;
}

.thanks {
	margin-top: 45%;
  font-size: 20px;
  letter-spacing: 1.5%;
  font-weight: 600;
	color: rgba(147, 143, 240, 1);
}
.message {
  font-size: 14px;
  letter-spacing: 1.5%;
  font-weight: 400;
  margin-top: 20px;
}
