.header {
  height: 68px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  position: fixed;
  top: 0;
}

.hr{
	border: 1px solid rgba(147, 143, 240, 1)
}
